/*Global Styles*/
img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
body {
    background-color: #990707;
}
#container {
    background-color: #1A91AD;
    padding: 18px;
}

h1, h2, h3 {
    text-align: center;
}

a {color: #810000;
    font-weight: bold;
}

a:hover {color: #d7ac01;
         text-decoration: none;
         
}

/*Mobile Styles*/

nav {
    background-color: #605F5E
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: white;
    background-color: #990707;
    text-align: center;
    margin: 15px 0;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

nav li a:hover{
    color: #d7ac01
    
}

header h1 {
    font-size: 35px;
    color: #a00000;
    text-shadow: 5px 5px 5px #605F5E  
}

main {
    border: 10px solid black;
    padding: 10px;
}

#lower {
    border-style: dotted;
    padding: 10px;
}

.col {
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}

.col img {
    border: 4px solid #d7ac01;
    border-radius: 5px;
    margin-top: 10px;
    width: 75%;
}

footer {
    padding: 40px 0;
    text-align: center;
}

.button {
    display: block;
    color:white;
    margin: 10px auto;
    text-align: center;
    background-color: #a00000;
    width: 125px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    border: 2px #d7ac01;
    border-radius: 10px;
    font-weight: bold;
}
.button:hover {
    color:#d7ac01;
}

/*Tablet Styles*/

@media (min-width: 786px) {
    nav {
        text-align: center;
    }
    nav li {
        display: inline-block;
    }
    nav li a {
        width: 200px;
        margin: 30px;
    }
    main img {
        width: 50%
    }
.col img {
    width: 75%;
}
}

/*Desktop Styles*/

@media (min-width: 1024px) 
{
    nav {
        background-color: #605F5E
    }
    
    nav ul {
        list-style-type: none;
        padding: 0;
    }
    
    nav li a {
        display: block;
        height: 40px;
        line-height: 40px;
        color: white;
        background-color: #990707;
        text-align: center;
        margin: 30px 0;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
    }
    
    nav li a:hover{
        color: #d7ac01
        
    }
    
    header h1 { 
        font-size: 100px;
        color: #ffffff;
        text-shadow: 10px 5px 5px #a00000
    }
    #container {
        width: 65%;
        margin: 20px auto;
    }
    
    #lower {
        width: 100%;
        display: flex;
    }
        
    .col {
        width: 33.3%;
    }
}